<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Rbnb</h1>
    <p class="lead">Find your perfect accommodation for your next trip</p>
    <hr class="my-4">
    <p>Start searching now!</p>
    <%= link_to "Search", flats_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

