.status-icons {
  font-size: 25px;
}

.icon-danger {
  color: rgb(218, 72, 72) !important;
}

.icon-success{
  color: rgb(103, 238, 103) !important;
}

.icon-warning {
  color: rgb(209, 230, 95) !important;
}

.carousel-control-prev {
  left: -80px;
  border-bottom: 0;
  font-size: 40px;
  color: #444;
}

.carousel-control-next {
  right: -80px;
  border-bottom: 0;
  font-size: 40px;
  color: #444;
}
